<html>
    <body>
        <table>
            <tr>
                <th>descricao</th>
            </tr>
            <tr>
                <td>Novo Produto</td>
            </tr>
        </table>
    </body>
</html>